<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">

    <title>'DecaT'enation of JS to objects</title>
    <meta name="description" content="otherwise known as Henry's Tic Tac Toe Tech Test Tut Tut Ta...">
    <meta name="author" content="Henry Hobhouse">

    <link rel="stylesheet" href="./css/index.css">
    <script type="text/javascript" src="./js/tictactoe.js"></script>
  </head>
  <body>
    <div class="game">
      <div class="status"></div>
      <table class="board">
        <tr class="row">
          <td class="square" data-id='0' />
          <td class="square" data-id='1' />
          <td class="square" data-id='2' />
        </tr>
        <tr class="row">
          <td class="square" data-id='3' />
          <td class="square" data-id='4' />
          <td class="square" data-id='5' />
        </tr>
        <tr class="row">
          <td class="square" data-id='6' />
          <td class="square" data-id='7' />
          <td class="square" data-id='8' />
        </tr>
      </table>
    </div>
  </body>
  <script type="text/javascript" src="./js/gamecontroller.js"></script>
  </html>
