<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">

    <title>'DecaT'enation of JS to objects</title>
    <meta name="description" content="otherwise known as Henry's Tic Tac Toe Tech Test Tut Tut Ta...">
    <meta name="author" content="Henry Hobhouse">

    <link rel="stylesheet" href="./css/index.css">
    <script type="text/javascript" src="./js/tictactoe.js"></script>
  </head>
  <body>
    <div classname="game">
      <div id="status"></div>
      <div classname="board">
        <div classname="row">
          <button class="square" value='' data-id='0'></button>
          <button class="square" value='' data-id='1'></button>
          <button class="square" value='' data-id='2'></button>
        </div>
        <div classname="row">
          <button class="square" value='' data-id='3'></button>
          <button class="square" value='' data-id='4'></button>
          <button class="square" value='' data-id='5'></button>
        </div>
        <div classname="row">
          <button class="square" value='' data-id='6'></button>
          <button class="square" value='' data-id='7'></button>
          <button class="square" value='' data-id='8'></button>
        </div>
      </div>
    </div>
  </body>
  <script type="text/javascript" src="./js/gamecontroller.js"></script>
  </html>
